#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#timer,
.time-window {
  width: 100%;

  text-align: center;
}

.adjust-row {
  margin: 0.5rem 0;
}

#timer {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 1rem;

  #time-left {
    font-weight: 700;
    font-size: 4rem;
  }
}

.time-window-value {
  font-weight: 600;
  font-size: 2.5rem;
}

div[class*="-wrapper"] {
  text-align: center;
  h2 {
    margin: 0;
  }
}

.btn {
  font-weight: 600;
  font-size: 1.2rem;
}

#button-container {
  margin-top: 1rem;

  button {
    margin: 0.5rem 0;

    * {
      pointer-events: none;
    }
  }
}
