@import "../node_modules/bootstrap/scss/functions";

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;

  font-size: 5vmin;
}

#header-container {
  #heading {
    text-align: center;
    font-size: 2em;
  }
}

#timer {
  text-align: center;
  margin: 1em 0;
  padding: 0.5em 1em;
  border: 0.3em solid black;
  border-radius: 1em;
  width: 70vmin;

  #time-left {
    font-weight: 700;
    font-size: 4em;
  }
}

.time-window-value {
  font-weight: 600;
  font-size: 2em;
}

#settings-container {
  & > div.row {
    margin: 0;
    padding: 0;
  }

  div[class*="-wrapper"] {
    text-align: center;
    padding: 0;

    h2 {
      margin: 0;
    }

    .adjust-row {
      margin: 0.5em 0;

      .time-window-value-col {
        width: 20vmin;

        .time-window-value {
          font-size: 150%;
        }
      }
    }
  }
}

.btn {
  font-weight: 600;
  font-size: 1.2em;
}

#button-container {
  button {
    margin: 0.5em 0;

    * {
      pointer-events: none;
    }
  }
}

@include media-breakpoint-up(md) {
  #root {
    font-size: 150%;
  }
}
